/*body{
    background: #ff0;
}*/


div{
    width: 100px;
    height: 100px;
    background: #f00;
    position: relative;
    animation: uno 5s infinite;
}
/*-------------------primer caso*/
@keyframes uno{
    from{top: 0px;}
    to{top: 200px;}
}

/*-------------------segundo caso*/
#dos{
    width: 100px;
    height: 100px;
    background: #0f0;
    position: relative;
    animation: dos 5s infinite;
}

@keyframes dos{
    0% {top: 0px;}
    25%{top: 200px;}
    75%{top: 50px;}
    
}

/*-------------------tercer caso*/

#tres{
    width: 100px;
    height: 100px;
    background: #00f;
    position: relative;
    animation: tres 5s infinite;
}

@keyframes tres{
    0%{top: 0px; background:#00f; width: 100px;}
    25%{top: 200px; background: yellow; width: 300px;}
}

#cuarto{
    width: 100px;
    height: 100px;
    background: #0f0;
    position: relative;
    animation: cuarto 5s infinite;
}

@keyframes cuarto{
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
}

#quinto{
    width: 100px;
    height: 100px;
    background: #0f0;
    position: relative;
    animation: quinto 10s infinite;
}

@keyframes quinto{
    0%   {top: 0px; left: 0px; background: red;}
    20%  {top: 0px; left: 100px; background: blue;}
    40%  {top: 0px; left: 200px; background: yellow;}

    60%  {top: 0px; left: 300px; background: green;}
    80%  {top: 0px; left: 400px; background: red;}
    90%  {top: 0px; left: 500px; background: blue;}
    100% {top: 0px; left: 0px; background: yellow;}

}